<!DOCTYPE html>
<html>
<head>
    <title>Your Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <nav>
            <ul>
                <!-- Other links -->
                <li>
                    <a href="#" id="logoutLink">Logout</a>
                </li>
            </ul>
        </nav>
    </header>

    <section>
        @RenderBody()
    </section>

    @using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
    }

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        document.getElementById('logoutLink').addEventListener('click', function (event) {
            event.preventDefault();
            if (confirm('Are you sure you want to logout?')) {
                document.getElementById('logoutForm').submit();
            }
        });
    </script>
</body>
</html>
